@model IEnumerable<ProduktyWebSerwis.Models.Produkt>

@{
    ViewBag.Title = "Produkty";
}

<h2>Lista produktów</h2>

<p>
    @Html.ActionLink("Dodaj nowy produkt", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoria)
        </th>    
              
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoria)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", null, new { @class = "btn btn-warning" })
            @Html.ActionLink("Szczegóły", "Details", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", null, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
